# Archivos de Byte de Python
__pycache__/

# Entornos virtuales
venv/
env/

# Archivos de registro y caché
*.log
*.pot
*.pyc
*.pyo
*.sw[po]

# Carpeta de construcción
build/
dist/

# Archivo de configuración local
.env

# Dependencias instaladas
/.venv/
